/package-info.class
/AbstractAvailabilityList.class
/Availability.class
/AvailableList.class
/AvoidList.class
/DayAvailability.class
/OutsideAvailabilityList.class
/ScheduledList.class
/TimeOffList.class
/AvailabilityList.class
/NotEqualException.class
